@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: var(--font-poppins), sans-serif;
  }

  body {
    font-family: var(--font-poppins), sans-serif;
  }
}

@layer components {
  .auth-input {
    @apply bg-gray-800 text-white;
  }
}

@layer utilities {

  .auth-input:-webkit-autofill,
  .auth-input:-webkit-autofill:hover,
  .auth-input:-webkit-autofill:focus,
  .auth-input:-webkit-autofill:active {
    background-color: theme("colors.gray.800") !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}